*{
    margin: 0;
    padding: 0;
  }
  .landing_page{
    width: 100vw;
    height: 92vh;
    background-image: url("https://cdn-systematic.nozebrahosting.dk/media/g0sj1tbg/hospital-building-001-global.jpg?cropAlias=hero_large&width=992&height=483&quality=80&mode=crop&null");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .landingPage_content{
    width: 100%;
    height: 100%;
    background-color: rgba(107, 104, 104,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title{
    text-align: center;
   
    height: 50px;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
  }
  
  .title h2{
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 3px;
    color: lime;
  }
  
  .landingPage_description{
    text-align: center;
    
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .landingPage_description p{
    word-spacing: 8px;
    letter-spacing: 2px;
    color: white;
    font-size: 27px;
  }
  
  .landingPage_register_section{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    width: 40%;
  }
  
  .patient_register, .doctor_register{
    text-align: center;
    width: 200px;
    height: 150px;
    background-image: linear-gradient(45deg,yellow,red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    word-spacing: 8px;
    letter-spacing: 2px;
    color: white;
    font-size: 20px;
  }
  
  .patient_register p, .doctor_register p{
    margin-bottom: 10px;
  }
  
  .patient_register button, .doctor_register button{
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: rgba(4, 51, 6, 0.24);
    color: rgb(13, 235, 68);
    letter-spacing: 2.5px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s linear;
  }

  .patient_register button a, .doctor_register button a{
    text-decoration: none;
    border: none;
    color: rgb(13, 235, 68);
  }
  
  .patient_register button:hover, .doctor_register button:hover{
    background: rgb(13, 235, 68);
    color: white;
    border-radius: 25px;
  }
  
  .patient_register button:hover a, 
  .doctor_register button:hover a{
    color: white;
  }
  
  .bottom_line{
    margin-top: 50px;
  
  }
  .bottom_line div:nth-child(1){
    width: 50vw;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to left,coral,blue,lime); 
    border-radius: 50px;
  }
  .bottom_line div:nth-child(2){
    width: 50vw;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to left,coral,blue,lime); 
    border-radius: 50px;
  }
  
  
  .empty{
    width: 100vw;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: -28px;
    background-image: linear-gradient(rgba(39, 39, 39, 0.7),rgba(39, 39, 39, 0.856) )
  }